html {
  font-family: sans-serif;

  color: #141414;
  background-color: #FCF4F2;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #141414;
  text-decoration: none;
}

.container {
  max-width: min(100%, 80rem);
  margin: 0 auto;
}

.container .section {
  padding: 2rem 4rem;
}

.header {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

.header h1 {
  font-size: 2.2em;
  margin: 0;
}

.header h6 {
  font-size: 0.32em;
  font-weight: normal;
  margin: 0;
}

.content {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

.content p {
  line-height: 1.5em;
  margin: 0;
}
