body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

@media (max-width: 355px) {
  body {
    font-size: 14px;
  }
}

a {
  color: #000000;
}

a, a:hover, a:focus {
  outline: none;
}

.container {
  padding: 2.67rem 2.67rem;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  pointer-events: none;
  user-select: none;
  padding: 0 0 0 0;
}

.header h1 {
  font-size: 4.48rem;
  font-weight: bold;
  margin: 0 0 0 0;
}

.header .phonetic {
  font-size: 0.87rem;
}

.header h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.44rem 0 0 0;
}
